<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Weather App KPI</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; margin: 30px; }
        button { padding: 10px 20px; margin: 5px; background-color: rgb(255, 169, 30); color: white; border: none; border-radius: 5px; }
        button:hover { background-color: rgb(225, 145, 65); }
    </style>
</head>
<body>
